* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #D2E0ED; */
  font-family: "Overpass", sans-serif;
}

.back {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgb(231, 241, 255);
}

.csstransforms {
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  top: 5%;
  left: 500px;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.icons {
  padding-top: 85vh;
  display: flex;
  justify-content: center;
}

.links {
  margin-top: 20px;
}

.links li {
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  list-style: none;
  /* text-align: center; */
}

.links a {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-size: 2rem;
}

.fab {
    font-size: 4em;
    padding: 0 20px;
    color: rgba(0,0,0,.8);
}

#icon1:hover,#icon2:hover,#icon3:hover {
  text-shadow: 0 4px 3px rgba(255, 153, 153, 0.4);
}

#icon1, #icon2, #icon3 {
  text-shadow: 0 3px 3px rgba(0, 0, 50, .1);
}

#finney1{
  font-size: 150px;
  color: #ff9999;
}
#finney2{
  /* font-size: 150px; */
  color: rgba(0, 0, 50, .4);
}

#kai {
  font-size: 150px;
  color: #ff9999;
  font-weight: 800;
  padding: 0;
  margin: 0;
  letter-spacing: .1em;
}

.card {
  display: flex;
}

.card img{
  display: block;
  position: absolute;
  width: 250px;
  min-width: 20%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img1{
  left: 45vw;
  top: 10%;
}

#img2{
  left: 70vw;
  top: 30%;
}

/* --------------------------------mobile------------------------------------- */

@media screen and (max-width: 834px) {
  .back {
    /* width: 100vw;
    height: 100vh; */
    display: block;
  }

  h1 {
    font-size: 50vw;
    color: #ff9999;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-shadow: 0 3px 3px rgba(0, 0, 50, .3)
    /* letter-spacing: .1em; */
    
  }

  .csstransforms {
  /* Abs positioning makes it not take up vert space */
  position: fixed;
  top: 2%;
  left: 0%;
  z-index: 1000;
  width: 100%;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(0deg);
}

  .fab {
      font-size: 8vw;
      padding: 0 20px;
      color: rgba(255,255,255,1);
  }

  #icon1, #icon2, #icon3 {
    text-shadow: 0 3px 3px rgba(0, 0, 50, .4)
  }

  .card img{
  display: block;
  position: relative;
  width: 100%;
  object-fit: cover;
  /* flex-direction: column;
  align-content: space-between; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .icons {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  #img1{
  left: 0;
  top: 0;
  }

  #img2{
  left: 0;
  top: 0;
  }

  #finney1{
    font-size: 15vw;
    color: #ff9999;
  }
  #finney2{
    /* font-size: 150px; */
    color: rgba(0, 0, 50, .4);
  }

  #kai {
    font-size: 15vw;
    color: #ff9999;
    font-weight: 800;
    padding: 0;
    margin: 0;
    letter-spacing: .1em;
  }
}


/* .pic:hover {
  -webkit-filter: invert(100%) !important;
} */
