* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #D2E0ED; */
  font-family: "Overpass", sans-serif;
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.back {
  width: 100vw;
  height: 100vh;
  display: block;
  /* background-color: rgb(231, 241, 255); */
}

.csstransforms {
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  top: 5%;
  left: 500px;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.icons {
  padding-top: 85vh;
  display: flex;
  justify-content: center;
}

.links {
  margin-top: 20px;
}

.links li {
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  list-style: none;
  /* text-align: center; */
}

.links a {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-size: 2rem;
}

.fab {
    font-size: 4em;
    padding: 0 20px;
    color: rgba(0,0,0,.8);
}

#icon1:hover,#icon2:hover,#icon3:hover {
  text-shadow: 0 4px 3px rgba(255, 153, 153, 0.4);
}

#icon1, #icon2, #icon3 {
  text-shadow: 0 3px 3px rgba(0, 0, 50, .1);
}

#finney1{
  font-size: 150px;
  color: #ff9999;
}
#finney2{
  /* font-size: 150px; */
  color: rgba(0, 0, 50, .4);
}

#kai {
  font-size: 150px;
  color: #ff9999;
  font-weight: 800;
  padding: 0;
  margin: 0;
  letter-spacing: .1em;
}

/* .card {
  display: flex;
} */

img:hover{
  width: 260px;
  z-index: 999;
}

img{
  display: block;
  position: absolute;
  width: 250px;
  min-width: 20%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-in-out .7s;
  z-index: 0;
}

#img1{
  left: 45vw;
  top: 5%;
}

#img2{
  left: 60vw;
  top: 15%;
}

#img3{
  left: 75vw;
  top: 25%;
}

/* --------------------------------mobile------------------------------------- */

@media screen and (max-width: 834px) {
  .back {
    width: 100vw;
    height: unset;
    display: block;
  }

  h1 {
    font-size: 50vw;
    color: #ff9999;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-shadow: 0 3px 3px rgba(0, 0, 50, .3)
    /* letter-spacing: .1em; */
    
  }

  .csstransforms {
  /* Abs positioning makes it not take up vert space */
  position: fixed;
  top: 2%;
  left: 0%;
  z-index: 1000;
  width: 100%;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(0deg);
}

  .fab {
      font-size: 8vw;
      padding: 0 20px;
      color: rgba(255,255,255,1);
  }

  #icon1, #icon2, #icon3 {
    text-shadow: 0 3px 3px rgba(0, 0, 50, .4)
  }

  .card img{
  display: block;
  position: relative;
  padding:2.75%;
  width: 95%;
  object-fit: cover;
  /* flex-direction: column;
  align-content: space-between; */
  box-shadow: unset;
  }

  .icons {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: unset;
    top: 85vh;
  }

  #img1, #img2, #img3{
  left: unset;
  top: unset;
  }

  #finney1{
    font-size: 15vw;
    color: #ff9999;
  }
  #finney2{
    /* font-size: 150px; */
    color: rgba(0, 0, 50, .4);
  }

  #kai {
    font-size: 15vw;
    color: #ff9999;
    font-weight: 800;
    padding: 0;
    margin: 0;
    letter-spacing: .1em;
  }
}


/* .pic:hover {
  -webkit-filter: invert(100%) !important;
} */
